<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/plantas"></ion-back-button>
    </ion-buttons>
    <ion-title>Seguimiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <br>
  <ion-text class="totalSeguimiento" > Total de Registros: {{seguimiento.length}}</ion-text>  
  <ion-list *ngIf="seguimiento.length > 0; else SinRegistros">
    <ion-item *ngFor="let seg of seguimiento" [routerLink]="['/seguimiento',seg.id]">
    
      <ion-avatar slot="start">
        <ion-img [src]="seg.idPlanta.imagen"></ion-img>
      </ion-avatar>
    
      <ion-label>
        {{seg.idPlanta.idTaxonomia.nombreComun}} - {{seg.fechaImplementacion}} 
      </ion-label>

    </ion-item>
  </ion-list>


  <!--- Para presentar mensaje si esta vacío --->
  <ng-template #SinRegistros>
    <ion-text>
      <p class="ion-text-center"> Sin registros aún</p>
    </ion-text>
  </ng-template>  

</ion-content>
