<ion-header>
  <ion-toolbar>
    <ion-title>Plantas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item>
      <ion-router-link color="secondary" href="registros/">   
        <ion-label>
          <h1>Registros
            <ion-icon slot="end" name="library-outline"></ion-icon>
          </h1>
        </ion-label>
      </ion-router-link>
    </ion-item>

    <ion-item>
      <ion-router-link color="secondary" href="seguimiento/">   
        <ion-label>
          <h1>Seguimiento
            <ion-icon slot="end" name="analytics-outline"></ion-icon>
          </h1>
        </ion-label>
      </ion-router-link>
    </ion-item>
  </ion-list>
</ion-content>
