<ion-header>
  <ion-toolbar>
    <ion-title>Plantas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card href="registros/">
    <img src="../../assets/img/registro.jpg"/>
    <ion-card-header>
      <ion-card-title>Registros</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Visualiza las plantas registradas
    </ion-card-content>
  </ion-card>

  <ion-card href="seguimiento/">
    <img src="../../assets/img/seguimiento.jpeg"/>
    <ion-card-header>
      <ion-card-title>Seguimiento</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Visualiza los seguimientos registrados sobre las plantas
    </ion-card-content>
  </ion-card>
</ion-content>
