<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/registros"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de Registro</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deletePlanta()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- Titulo -->
    <ion-col>
      <h1 class="ion-text-center"> {{nombre}} </h1>
    </ion-col>

    <!-- Imagen -->
    <ion-row>
      <ion-col>
        <ion-img [src]="imagen"></ion-img>
      </ion-col>
    </ion-row>
    

    <div id="faq">
      <ul>
        <!-- General -->
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2> General </h2>
          <p>
            Ciclo de vida: {{cicloVida}} <br>
            Origen: {{origen}} <br>
            Uso y Aplicación: {{usoAplicacion}} <br>
            Produccion Promedio: {{produccionPromedio}} <br>
            Altura: {{altura}}m <br>
            Diametro: {{diametro}}m <br>
            Clima: {{clima}} <br>
            Preparacion de Terreno: {{preparacionTerreno}} <br>
          </p>
        </li>

        <!-- Taxonomía -->
        
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2> Taxonomía </h2>
          <p>
            Familia: {{familia}} <br>
            Género: {{genero}} <br>
            Especie: {{especie}} <br>
            Nombre Cientifico: {{nombreCientifico}}
          </p>
        </li>

        <!-- Abonamiento y fertilización -->
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2> Abonamiento, Recolección y Control de Plagas </h2>
          <p>
            <b>Abonamiento y fertilización</b> <br>
            {{abonoFertilizacion}} <br>
            <b>Recolección</b><br>
            {{recoleccion}} <br>
            <b>Control de Plagas</b><br>
            {{controlMalasHierbas}} <br>
          </p>
        </li>

        <!-- Material vegetal (variedades) -->
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2> Material vegetal (Categoria) </h2>
          <p>
            {{categoria}}
          </p>
        </li>

        <!-- Riego -->
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2> Riego </h2>
          <p>
            Sistema: {{sistema}} <br>
            Detalle: {{detalle}}
          </p>
        </li>
        
      </ul>
    </div>

  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    
    <ion-fab-button color="success"  [routerLink]="['/registros/newRegistro',id]">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>